@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  overflow-x: hidden;
  @apply font-Satoshi;
}

html {
  scroll-padding-top: 100px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

.banner-clip {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 70%, 0 85%);
}

.text-shadow-lg-super {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.85);
}

.text-shadow-lg-title {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

@media (min-width: 992px) {
  .lg\:text-shadow-super {
    text-shadow: none;
  }

  .lg\:text-shadow-title {
    text-shadow: none;
  }
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "" !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 24px !important;
  height: 24px !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
}

.swiper-slide.swiper-slide-active {
  --tw-border-opacity: 1 !important;
  border-color: rgb(79 70 229 / var(--tw-border-opacity)) !important;
}

.swiper-slide.swiper-slide-active > .swiper-slide-active\:text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}
.swiper-slide.swiper-slide-active
  > .flex
  .grid
  .swiper-slide-active\:text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

/* Ensure Swiper displays 3 slides per view on desktop */
.swiper {
  width: 100%;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex: 1 0 calc(33.333% - 8px); /* 3 slides per view with gap */
  box-sizing: border-box;
}


/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 7px;
}

/* Fundo da barra */
::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 5px;
}

/* Cor da barra do scroll */
::-webkit-scrollbar-thumb {
  background: #bb8c4d;
  border-radius: 5px;
}

/* Quando o rato passa por cima */
::-webkit-scrollbar-thumb:hover {
  background: #bb8c4d;
}

@media (max-width: 575.98px) {
  .scroll-hidden-mobile::-webkit-scrollbar {
    display: none;
  }

  .scroll-hidden-mobile {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
